@media screen and (max-width: 900px) {
  nav {
    margin: unset;
  }

  .nav-link {
    display: none;
  }

  .nav-btn {
    width: 91px;
    height: 31px;
    padding: 6px 15px;

    display: block;
    margin: 17px 15px 76px auto;

    font-size: 12px;
    line-height: 18px;
  }

  .hero-desktop {
    display: none;
  }

  section {
    width: initial;
    display: block;
    text-align: center;
    padding: 0 43px;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
  }

  p {
    margin: 29px 0 26px;
  }

  .hero-mobile {
    display: unset;
    width: 100%;
    margin: 59px 0 22px;
    padding: 0 39px;
  }
}
